<nav class="app-header navbar navbar-toggleable-sm fixed-top">
  <button class="navbar-toggler btn btn-custom btn-default" type="button" data-toggle="collapse" data-target="#navbar-top-links" aria-controls="navbar-top-links" aria-expanded="false" aria-label="Toggle navigation">
    Menu
  </button>

  <a class="navbar-brand" href="/" title="Iconly">
    <span>Icon</span><span class="text-default">ly</span>
  </a>

  <% if signed_in? %>
  <div class="row float-left">
    <div class="col-md-6">
      <div class="collapse navbar-collapse" id="navbar-top-links">
        <ul class="nav navbar-nav first">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="nav-link-in">Projects</span>
              </a>

              <div class="dropdown-menu">
                <%= link_to projects_path, class: 'dropdown-item' do %>
                  <i class="iconly-files mr-05 text-primary"></i>
                  Projects
                <% end %>

                <div class="dropdown-divider"></div>

                <% if current_user.projects.any? %>
                  <% current_user.projects.each do |project| %>
                    <%= link_to project_path(project), class: 'dropdown-item' do %>
                      <i class="iconly-file-check mr-05 text-primary"></i>
                      <%= project.name %>
                    <% end %>
                  <% end %>

                  <div class="dropdown-divider"></div>
                <% end %>
                <%= link_to new_project_path, class: 'dropdown-item' do %>
                  <i class="iconly-file-add mr-05 text-info"></i>
                  New Project
                <% end %>
              </div>
            </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <form role="search" class="form-inline app-search pull-xs-left" action="">
        <i class="iconly-magnifier magnifier"></i>
        <%= text_field_tag :q, params[:q], placeholder: 'Search fonts ...', class: 'form-control' %>
      </form>
    </div>
  </div>
  <% end %>

  <ul class="nav navbar-nav navbar-user">
    <% if signed_in? %>
      <li class="dropdown user clearfix">
        <%= link_to new_package_path, class: 'float-left nav-link mr-3' do %>
          <span class="btn btn-default nav-btn">
            <i class="iconly-folder-plus mr-05"></i>
            Import Icons
          </span>
        <% end %>
        <a class="nav-link float-left dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="nav-link-in pull-xs-left img-<%= current_user.image_url.present? %>">
            <%= image_tag(current_user.image_url) if current_user.image_url.present? %>
            <i class="iconly-user placeholder"></i>
          </span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to logout_path, method: :delete, class: "dropdown-item" do %>
            <i class="iconly-power-switch text-danger mr-05"></i>
            Log out
          <% end %>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to login_path, class: "nav-link" do %>
          <span class="nav-link-in">Login</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
