<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> : Iconly</title>
  <%= stylesheet_link_tag    "iconly/application", media: "all" %>
  <%= javascript_include_tag "iconly/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/iconly/header' %>
  <%= render_flash %>

  <div class="app-body">
    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/iconly/footer' %>
  </div>

  <%= yield :script %>
</body>
</html>
