<%= title 'Projects' %>

<h1 class="page-header">Projects</h1>

<% @projects.each do |project, project_icons| %>

  <h3 class="font-bold text-dark"><%= link_to project.name, project_path(project) %></h3>
  <div class="card mb-4">
    <div class="card-body">
      <% project_icons.each do |project_icon| %>
        <div class="btn btn-svg float-left" title="<%= project_icon.icon.name %>">
          <%= project_icon.icon.contents.html_safe %>
        </div>
      <% end %>

      <% if project_icons.blank? %>
        <div class="text-pale">No icons added yet.</div>
      <% end %>
    </div>
  </div>

<% end %>

<% if @projects.blank? %>
<div class="jumbotron text-center">
  <i class="iconly-baby2 mr-05 font-lg"></i>
  <% if params[:q].present? %>
    <h3 class="mb-4">Can't find that icon ...</h3>
    <%= link_to 'Clear search', projects_path, class: 'btn btn-lg btn-primary' %>
  <% else %>
    <h3>No projects created yet</h3>
    <hr/>
    <p>No worries, there's still time.</p>
    <%= link_to 'Start now', new_project_path, class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>
<% end %>
