<%= title @project.name %>

<div class="row page-header">
  <div class="col-sm-6">
    <h1><%= @project.name %></h1>
  </div>
  <div class="col-sm-6 text-right">
    <a class="dropdown-toggle m-a-0 btn btn-default" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="iconly-menu"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to edit_project_path(@project), class: 'dropdown-item' do %>
        <i class="iconly-pencil mr-05 text-info"></i>
        Edit Project
      <% end %>
      <%= link_to project_path(@project),
        method: :delete,
        data: { confirm: 'Are you sure you want to delete this project?' },
        class: 'dropdown-item' do %>
        <i class="iconly-trash mr-05 text-danger"></i>
        Delete Project
      <% end %>

      <div class="dropdown-divider"></div>

      <%= link_to generate_font_project_path(@project), class: 'dropdown-item', data: { method: :post } do %>
        <i class="iconly-folder-download text-primary mr-05"></i>
        Generate Font
      <% end %>

      <div class="dropdown-divider"></div>

      <%= link_to new_project_path, class: 'dropdown-item' do %>
        <i class="iconly-file-add mr-05 text-info"></i>
        New Project
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'packages', locals: {
  packages:      @packages,
  project:       @project,
  project_icons: @project.project_icons.map(&:icon_id) } %>

<%= content_for :script do %>
<script>
  $(function() {
    iconly.Project.start('<%= @project.id %>', '<%= project_icons_path %>');
  });
</script>
<% end %>
